label { 
    display: block;
    margin: 1.5em 0 0.3em;

    padding-left: 0.4em;

    &:first-of-type {
        margin-top: 0;
    }
}

input[type=text], input[type=email], input[type=tel], textarea {
    padding: 0.6em;
    color: #717171;
    border-radius: 4px;
    width: 250px;
}

input[type=submit] {
    display: block;
    margin-top: 1em;
    padding: 1rem 5.3rem 0.75rem 0.75rem;
    border-radius: 0.5rem;
    background-color: #78abeb;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;

    &:hover { background-color: #5588c8}
}

.wrapper {

    position:relative;


    i { 
       position: relative;
        transform: translateY(-50%);
        left: 5vh;   
        top: -1em;
        font-size: 1.5em;
    }
}
#print {
    color: red;
    font-size: 1.5em;
    margin-top: 1em;
    font-family: $main-font-face;
}
#print2 {
    color: greenyellow;
    font-size: 1.5em;
    margin-top: 1em;
    font-family: $main-font-face;
}

textarea { resize: none; display: block; }